*{margin:0; padding:0; list-style:none;}

.tab_wrap{width:500px;
        background-color: #959595;}

.tab_btn ul{display:flex;}
.tab_btn li{width:100px;
            height:30px;
            border-radius: 30px;
            background-color: #ffffff;
            text-align:center;
            line-height: 30px;}

.tab_btn li.on{background-color: rgb(243,128,128);}
/*~태그 중에서 on 클래스가 있는 태그 => 태그명.클래스*(띄어쓰지 않음)
   공통된 속성에서 이벤트 적용 유무로 달라지는 속성인 경우,
   해당 선택자에게 클래스를 부여하고, 선택자.클래스명을 사용하여 우선순위를 강하게 만든다*/

.tab{height:250px;} /*absolute포지션 부여시, 부모태그에 세로값 부여*/
.tab li{width:250px; /*포지션 absolute로 배열깨져 가로값 부여*/
        height:250px;
        border: 1px solid black;
        position:absolute;
        font-size:100px;
        text-align:center;
        line-height:250px;}

/* 동작을 만드는 순서 1. 다 나온 화면 제작(이벤트 작동 후)*/

.tab li:nth-child(2){dispaly:none;}

/*2. 다 사라진 화면 제작(이벤트 작동전)
  3. 동작 삽입
  4. 수정*/
